// base font
$base-font: Helvetica, sans-serif;
$base-font-size: 17px;

// logo font
$logo-font: stencil;
$logo-color: #007DDD;

// color
$base-color: #121C3A; // base page color
$white-color: #FFF;
$message-bgcolor: #042844;
$message-bordercolor: #688297;
$message-fontcolor: #D3D3D3;

// my style

// color
$custom-border-color: #a7aeb4;
$sub-title-color: #707b86;
$title-color: #3c4353;
$base-font-color: #656d79;

// width
$container-max-width: 990px;
