@import '../../node_modules/bootstrap/scss/bootstrap.scss';
// import custom variables;
@import 'variables';

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Bold.ttf') format('truetype');
}

.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
 }

.navigation {
    padding: 0 !important;
}

body{
    background-color: $white-color;
    color: $base-font-color;
    font-size: $base-font-size;
    font-family: 'Lato';
    margin: 0;
    padding: 0;
}

.h4 {
    font-size: 1rem;
}

.logo {
    color: $logo-color;
    font-family: $logo-font;
    font-size: 2em;
    padding-left: 20px;
}

/*
 main page
*/

// message
.selamat {
    background-color: $message-bgcolor; 
    border-top:3px solid $message-bordercolor;
    border-bottom:3px solid $message-bordercolor;
    color: $message-fontcolor;
    margin:0;
    padding: 20px 5px 15px 40px;

    .title {
        font-size: 1.7em;
    }

    p {
        font-size: 0.9em;
        font-weight: lighter;
        margin: 1em 0 0 0;
    }
}

.row {
    padding-top : 1.3em;
    margin-right: 0 !important;
}

.col-md-12 {
    padding-right: 0 !important;
}

.included {
    font-size: 12px;
    padding-left:40px;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding {
    padding: 0;
}

.box-content-center {

    img {
        max-width: 459px;
    }
}


/* News Content */
.news-container {
    border: 1px solid $custom-border-color;
    border-radius: 5px;
    margin: 0 15px;

    .news-content {
        padding-top: 20px;

        .content-header {
            h2 {
                margin-left: 20px;
                margin-bottom: 0;
                text-align: left;

                a {
                    color: $title-color;
                    font-family: 'Oswald';
                    font-size: 24px;
                    font-weight: bold;
                    text-decoration: none;
                }
            }

            .content-author {
                font-size: 15px;
                margin-top: 0;
                margin-bottom: 25px;
            }
        }

        .content-body {
            p {
                font-size: 17px;
                margin: 20px;
                text-align: justify;
            }
        }
    }
}

/* Detail Content */
.detail-content-header {
    h2 {
        color: $title-color;
        font-family: 'Oswald';
        font-size: 24px;
    }
    p {
        font-size: 15px;
        margin-top: 0;
        margin-bottom: 25px;
    }
}

.detail-content-body {
    p {
        text-align: justify;
    }
}


/* Feature Content */

.feature-container {
    border: 1px solid $custom-border-color;
    width: 300px;
    border-radius: 6px;
    
    .image-container {
        padding: 0;
    }

    p {
        padding: 20px;
    }
}

// detail container
.detail-container {
    max-width: 950px;
    margin: 0 auto;
}

@media screen and (min-width: 1003px) {
    .news-container {
        max-width: $container-max-width;

        .row {
            padding: 0;
        }

        img {
            max-width:320px;
        }

        .news-content {
            padding-left: 0;

            h3 {
                margin: 0 20px;
                text-align: left;
            }
    
            h6 {
                text-align: left;
                margin: 0 20px;
                color: #707b86;
            }
    
            p {
                margin: 10px 20px;
                text-align: justify;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1002px){
    .news-container {
        .row { 
            padding: 0;
        }

        .cover-img {
            padding: 0;
        }

        img {
            margin-left: 15px;
        }
    }
}

@media screen and (max-width:767px) {
    .no-padding-left {
        text-align: center;
        padding: 40px;
    }

    .news-container {
        .cover-img {
            display: none;
        }

        img {
            margin-bottom: 20px;
        }

        .news-content {
            padding-top: 0;
        }
    }
}